<div id="product_categories___name__" class="form-group">
    <input class="form-control" placeholder="Category Name" type="text"
                id="product_categories___name___category_name"
                name="product[categories][__name__][category_name]"
                maxlength="255"/>
</div>
