{% extends '::base.html.twig' %}

{% block title %}Vitchkovski | Password Recovery{% endblock %}

{% block body %}
    <form class="form-signin" action="{{ path('VitchkovskiProductsBundle_restorePassword') }}" method="post">
    <h2 class="form-signin-heading">Reset Password</h2>
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Enter your email', 'style': 'margin-bottom: 10px'}}) }}
        {{ form_row(form._token) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset My Password</button>
    </form>
{% endblock %}